.container {
  width: 80%;
  font-size: 100%;
  /* background-color: whitesmoke; */
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  padding: 1em 0.5em;
  margin-left: 6vh;
  align-items: center;
  text-align: center;
  background-image: url("../assets/noise.png");
  -webkit-box-shadow: 10px 10px 5px 0px rgba(51, 51, 51, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(51, 51, 51, 1);
  box-shadow: 10px 10px 5px 0px rgba(51, 51, 51, 1);
}

.title {
  font-weight: bold;
  margin-bottom: 1em;
}

/* .caption {

} */
